#Parameters for myGit repository
#Mon Apr 10 12:59:16 IDT 2023
error_addNode=Go to last node of the branch or branch out from this node
error_deleteBranch_HEADon=Impossible to delete\: current node is set on branch %s or subbranch
error_deleteDefaultBranch=Impossible to delete default branch
error_delete_conjunction=There's a conjunction on the branch %s 
error_noBrunch=No such branch exists\: 
error_noCommit=No commit to store
msg_HEADswitched=HEAD switched to 
msg_branchAdded=Branch %s was added
msg_branchAlreadyExists=Fault. Branch with the name %s already exists
msg_branchDeleted=Branch %s is successfully deleted
msg_branchRenamed=Branch %s is renamed with the new name %s
msg_commited=Commit's successfully done
msg_filterAdded=Filter was added
msg_incorrectFilter=Incorrect filter
msg_noCommitedYet=No commited yet
msg_noFilesCommit=No files to commit
msg_noSuchBruchExists=No branch / commit with the name %s exists
msg_renameDefaultBranch=Prohibited to rename defalt branch
msg_saved=All changes saved
